.container{
    width: 50vw;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    h1{
        text-align: center;
        margin: 30px 0;
    }
}

.addTasks{
    width: 100px;
    margin: 30px 10px;
    height: 40px;
    cursor: pointer;
}
